
body  {
   /* width: 1200px;*/
   	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	font-style: normal;
	line-height: 150%;
	font-weight: normal;
	font-variant: normal;
	background-attachment: fixed;
	background-color: #FFF;
	background-image: url(../img/strip.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 0px 0px;
	text-align: left;
}

.wrapper { 
	width: 960px;  
	margin: 25px auto; 
	background: url(../img/header-bg.png);
	background-repeat:repeat-x;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 0 10px;
	background-color: #FFFFFF;
	border: 1px solid #000000;
	text-align: left;
} 

.wrapper:after{
	display: block;
	content: '';
	clear: both;
}

header {
	height:120px;
	width: 100%;
	background-size: 100px;
	margin-bottom:40px;
}

.logo {
	width: 300px;
	height: 100px;
	margin: 10px;
	padding: 10px;
	float: left;
}

.contact {
  	width: 400px;
  	height: 100px;
 	margin: 10px;
  	padding: 0px;
 	float: right;
	line-height: 21px;
  	font-size: 14px;
}

.email{
	width: 180px;
	padding-right: 20px;
	float: left;
}

header:after{
	clear:both;
 }

.adress{
	width: 200px;
	float: right;
}

section { 
	width: 680px;
	padding: 0px 20px; 
	float: right;
} 

h1 {
	line-height: 150%;
}

section img {
	width: 300px;
	margin: 10px auto;
	border-radius:10px;
	border:5px solid #00698c;
	display: block;
}

.patent{
	width: 600px;
}

aside {
	width: 200px; 
	padding: 15px 10px 15px 20px;
	float: left; 
}

h3 {
 	margin-top: 40px;
 }

ul{
	margin: 0px;
	padding-left: 20px;
	line-height: 150%;
}

ul li{
	margin: 10px 0;
}

 ul li a{
 	color:#000;
	font-size: 13px;
	text-decoration: none;
 }

 ul li a:hover {
 	color:#000;
	text-decoration: underline;
 }

.red {
 	color: red;
}

footer{
 	padding: 0 10px 0 20px; 
	background:#DDDDDD; 
	height:90px;
	clear:both;
}

 footer p {
 	margin: 0; 
	padding: 10px 0; 
	font-weight: bold;
 }

.overlay{
	visibility: hidden;
	opacity: 0;
}
